{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container text-center">
    <div class="row">
      <div class="col-8">

<h1>This is Witter: A Better Twitter.</h1>
<br><br>
<h4>What people are saying…</h4>

{% for witt in witts %}

<div class="alert alert-info" role="alert">
            <div class="container">
              <div class="row">
                <div class="col-2">

                  {% if witt.user.profile.profile_image %}
                  <img src="{{ witt.user.profile.profile_image.url }}" width="50" height="50" class="rounded-circle" alt="@{{ witt.user.profile.user.username }} on Witter" title="@{{ witt.user.profile.user.username }} on Witter">
                  
                  {% else %}

                  <img src="{% static 'images/default_profile_pic.png' %}" width="50" height="50" class="rounded-circle" alt="@{{ witt.user.profile.user.username }} on Witter" title="@{{ witt.user.profile.user.username }} on Witter">

                  {% endif %}

                </div>

                <div class="col-10" style="text-align: left;">
            
            <strong>{{ witt.body }}</strong>
            <br>

            <small class="text-muted">
              <a href="{{ witt.user.profile.user.username }}" title="@{{ witt.user.profile.user.username }} on Witter">
                @{{ witt.user.username }}</a>
               witted on {{ witt.created_at }}
               - {{ witt.number_of_likes }} likes -

               {% if user in witt.likes.all %}
               <a href="{% url 'witt_like' witt.id %}" title="Like"><i class="fa-solid fa-heart"></i></a>
               {% else %}
               <a href="{% url 'witt_like' witt.id %}" title="Unlike"><i class="fa fa-heart-o"></i></a>
               {% endif %}
            </small>

                  </div>
              </div>  
            </div>
          </div>

{% endfor %}

</div>

<div class="col-4">
  <br><br><br>

{% if form %}
<form method=POST>

  {% csrf_token %}
  {{ form.as_p }}
  
  <button type="submit" class="btn btn-secondary">Witt now!</button>
</form>
{% endif %}

</div>


{% endblock %}
