{% extends "base.html" %}
{% load static %}

{% block content %}

{% if profile %}

  <div class="container text-center">
    <div class="row">
      <div class="col-8">
        <h1>@{{ profile.user.username }}'s Profile</h1><br>

        {% if witts %}
          {% for witt in witts %}

          <div class="alert alert-info" role="alert">
            <div class="container">
              <div class="row">
                <div class="col-2">

                  {% if profile.profile_image %}
                  <img src="{{ profile.profile_image.url }}" width="50" height="50" class="rounded-circle" alt="@{{ profile.user.username }} on Witter" title="@{{ profile.user.username }} on Witter">
                  
                  {% else %}

                  <img src="{% static 'images/default_profile_pic.png' %}" width="50" height="50" class="rounded-circle" alt="@{{ profile.user.username }} on Witter" title="@{{ profile.user.username }} on Witter">

                  {% endif %}

                </div>

                <div class="col-10" style="text-align: left;">
            
            <strong>{{ witt.body }}</strong>
            <br>

            <small class="text-muted">
              <a href="{% url 'profile' profile.user.id %}" title="@{{ witt.user.profile.user.username }} on Witter">
                @{{ witt.user.username }}</a>
               witted on <a href="{% url 'witt_show' witt.id %}" title="@{{ witt.user.profile.user.username }} on Witter: {{ witt.body }}">{{ witt.created_at }}</a>
               
               {% if user in witt.likes.all %}
               <a href="{% url 'witt_like' witt.id %}" title="Unlike"><i class="fa-solid fa-heart" style="font-size:12px"> &NonBreakingSpace;{{ witt.number_of_likes }}</i></a>

               {% else %}
               <a href="{% url 'witt_like' witt.id %}" title="Like"><i class="fa-solid fa-heart" style="font-size:12px"> &NonBreakingSpace;{{ witt.number_of_likes }}</i></a>
               {% endif %}
            </small>

                  </div>
              </div>  
            </div>
          </div>

          {% endfor %}
        {% endif %}

      </div>

      <div class="col-4">

        {% if profile.profile_image %}

        <img src="{{ profile.profile_image.url }}" class="rounded-circle" width="200" height="200" alt="@{{ profile.user.username }} on Witter" title="@{{ profile.user.username }} on Witter">

        {% endif %}
        <br><br>

        {% if profile.profile_bio %}
        {{ profile.profile_bio }}
        {% endif %}
        <br><br>

  <div class="card">
    <div class="card-header">Following</div>
      <div class="card-body">
        <p class="card-text">
    
        {% for following in profile.follows.all %}
    
          <a href="{% url 'profile' following.user.id %}" title="{{ following.user.username }}">@{{ following }}</a><br>

        {% endfor %}

        </p>
      </div>
  </div>

  <br><br>

  <div class="card">
    <div class="card-header">Followers</div>
      <div class="card-body">
        <p class="card-text">
    
        {% for following in profile.followed_by.all|slice:3 %}

        <a href="{% url 'profile' following.user.id %}" title="{{ following.user.username }}">@{{ following }}</a><br>

        {% endfor %}

        </p>
      </div>
      <br>
        <div class="card-footer">
          <a href="{% url 'followers' profile.user.id %}">See all followers</a>
        </div>
  </div>
  <br>

  <form action="" method="post">

    {% csrf_token %}

    {% if profile in user.profile.follows.all %}
      <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow @{{ profile.user.username|lower }}</button>
    {% else %}
      <button class="btn btn-outline-success" name="follow" value="follow" type="submit">Follow @{{ profile.user.username|lower }}</button>

    {% endif %}

  </form>
  <br>

  <!-- Display Update profile button if the user is the same as the logged in user -->
  {% if request.user.id == profile.user.id %}  
    <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">Update profile</a>
  {% endif %}

      </div>
    </div>
  </div>

{% endif %}
{% endblock %}
